{% extends "datanav/base.html" %}

{% block title %}Cambiar clave{% endblock %}
{% block description %}Cambio de clave{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="/resources/css/login.css" type="text/css">
{% endblock %}

{% block content %}

<form action="" method="post">

<div id="logindiv">

<table id="logintable"/>
<thead>
  <tr><th colspan="3">Cambio de clave</th></tr>
</thead>
<tbody>
<tr>
  <th><label for="id_old_password">Clave actual:</label></th>
  <td>{{ form.old_password }}</td>
  <td class="fielderror">{{ form.old_password.errors }}</td>
</tr>
<tr>
  <th><label for="id_new_password1">Nueva clave:</label></th>
  <td>{{ form.new_password1 }}</td>
  <td class="fielderror">{{ form.new_password1.errors }}</td>
</tr>
<tr>
  <th><label for="id_new_password2">Confirme nueva clave:</label></th>
  <td>{{ form.new_password2 }}</td>
  <td class="fielderror">{{ form.new_password2.errors }}</td>
</tr>
</tbody>
<tfoot>
  <th>&nbsp;</th><th><input type="submit" value="Cambiar clave" /></th>
</tfoot>
</table>

</div>

</form>

{% endblock %}

