<div class="nomargin" id="itemsdiv{{ pk }}">
{% if item_summary %}
  {% load attrib %}
  <table class="items" id="items{{ pk }}">
  <thead><tr>
    <th>
      <img id="item_openmenu{{ pk }}" src="/resources/img/view_choose.png"/>
      <div class="item_menudiv" id="item_menudiv{{ pk }}">
        <hr/>
        <input type="checkbox" id="item_toggleall_{{ pk }}"/>&nbsp;Seleccionar&nbsp;filas
        <hr/>
        <ul>
        {% for hidden in item_hiddens %}
         <li><input type="checkbox" id="item_cb_{{ pk }}_{{ forloop.counter0 }}" value="{{ forloop.counter|add:item_fixedcount }}"/>&nbsp;{{ hidden|capfirst }}</li>
        {% endfor %}
        </ul>
      </div>
    </th>
    {% for name in item_parents %}
      <th>({{ name|capfirst }})</th>
    {% endfor %}
    {% for name in item_summary %}
      <th>{{ name|capfirst }}</th>
    {% endfor %}
    {% for hidden in item_hiddens %}
      <th>{{ hidden|capfirst }}</th>
    {% endfor %}
  </tr></thead>
  <tbody>
  {% for path, instance in items %}
    <tr>
    <td>
      <input type="checkbox" value="{{ instance.pk }}"/>
    </td>
    <!--{% cycle 'remark_odd' 'remark_even' as tdcolor %}-->
    {% for value in path %}
      <!--<td class="{{ tdcolor }}">{{ value }}</th>-->
      <td>{{ value }}</td>
    {% endfor %}
    {% for name in item_summary %}
      <td>{{ instance|getattr:name }}</td>
    {% endfor %}
    {% for name in item_hiddens %}
      <td>{{ instance|getattr:name }}</td>
    {% endfor %}
    </tr>  
  {% endfor %}
  </tbody>
  </table>
  <script language="javascript">//<--
    var oTable{{ pk }} = $("#items{{ pk }}").dataTable({
      bSaveState: true,
      bPaginate: false,
      bAutoWidth: false,
      oLanguage: {
          sInfo: "_TOTAL_ resultado(s)",
          sInfoEmpty: "0 resultados",
          sInfoFiltered: " - filtrado de _MAX_ resultado(s) total(es)",
          sSearch: "Filtro:"
      },
      aaSorting: [[1, 'asc']],
      aoColumns: [
        { bSortable: false, sWidth: "16px" }
        {% for name in item_parents %}
          , { bVisible: true }
        {% endfor %}
        {% for name in item_summary %}
          , { bVisible: true }
        {% endfor %}
        {% for name in item_hiddens %}
          , { bVisible: false }
        {% endfor %}
      ],
      fnInitComplete: function() {
        /* muevo el filtro al menu popup */
        $("#items{{ pk }}_filter").prependTo($("#item_menudiv{{ pk }}"));
        /* Abro el menu popup cuando se pulse sobre la cabecera */
        $("#item_openmenu{{ pk }}").click(function(event) {
          $("#item_menudiv{{ pk }}").toggle();
          event.preventDefault();
        });
        $("#item_menudiv{{ pk }}").draggable();
        /* Conecto toggleall con los checkboxes */
        $("#item_toggleall_{{ pk }}").click(function(event) {
          var checked = this.checked;
          jQuery.each($("#items{{ pk }} tbody :checkbox"), function() {
            this.checked = checked
          });
        });
        /* Conecto los checkboxes del menu con las columnas */
        $("#item_menudiv{{ pk }} :checkbox").click(function(event) {
          oTable{{ pk }}.fnSetColumnVis(this.value, this.checked); 
        });
      }
   });

  --></script>
{% endif %}
</div>
