<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head/>
<body>
<div class="item_div" id="item_div{{ pk }}">
  {% load attrib %}
  {% load markup %}
  <table class="items" id="items{{ pk }}">
  <thead><tr>
    <th>
      <img class="item_openmenu{{ pk }}" src="/resources/img/view_choose.png"/>
      <div class="item_menudiv" id="item_menudiv{{ pk }}">
        <div class="item_menudiv_head">
          <ul class="item_toolbar" id="toolbar{{ pk }}">
            <li><a href="../help/{{ pk }}" target="_blank"><img src="/resources/img/help.png"/></a></li>
            <li><a href="" id="item_reload{{ pk }}"><img src="/resources/img/reload.png"/></a></li>
            <li><a href="../add/{{ pk }}" id="item_add{{ pk }}"><img src="/resources/img/add.png"/></a></li>
            <li><a href="" id="item_edit{{ pk }}"><img src="/resources/img/edit.png"/></a></li>
            <li><a href="" id="item_remove{{ pk }}"><img src="/resources/img/remove.png"/></a></li>
          </ul>
        </div>
        <div class="item_menudiv_body" id="item_menudiv_body{{ pk }}">
          <hr/>
          <input type="checkbox" id="item_toggleall{{ pk }}"/>&nbsp;Seleccionar&nbsp;filas
          <hr/>
          <ul id="visibility_cb{{ pk }}">
          {% for hidden in item_hiddens %}
           <li><input type="checkbox" value="{{ forloop.counter|add:item_fixedcount }}"/>&nbsp;{{ hidden|capfirst }}</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </th>
    {% for pk, name in item_parents.iteritems %}
      <th>({{ name|capfirst }})</th>
    {% endfor %}
    {% for name in item_summary %}
      <th><span title="{{ item_comments|getitem:name|escape }}">{{ name|capfirst }}</span></th>
    {% endfor %}
    {% for hidden in item_hiddens %}
      <th><span title="{{ item_comments|getitem:hidden|escape }}">{{ hidden|capfirst }}</span></th>
    {% endfor %}
  </tr></thead>
  <tbody>
  {% for row in item_griddata %}
    {% if row.annotations %}
    <tr class="item_annotated">
    {% else %}
    <tr>
    {% endif %}
    <td>
      <input type="checkbox" value="{{ row.pk }}"/>
    </td>
    {% for cell in row %}
      <td class="{{ cell.css }}">{{ cell.value }}</td>
    {% endfor %}
    </tr>  
  {% endfor %}
  </tbody>
  </table>
<script language="javascript">//<!--
oLastTr[{{ pk }}] = false;
oAnnotations[{{pk}}] = {
{% for row in item_griddata %}{% if row.annotations %}{{ row.pk }}: '{{ row.annotations|markdown|escapejs }}',{% endif %}{%endfor %}
};
oTable[{{ pk }}] = $("#items{{ pk }}").dataTable({
  bSaveState: true,
  bPaginate: false,
  bAutoWidth: false,
  oLanguage: {
    sInfo: "_TOTAL_ resultado(s)",
    sInfoEmpty: "0 resultados",
    sInfoFiltered: " - filtrado de _MAX_ resultado(s) total(es)",
    sZeroRecords: "No se han encontrado resultados",
    sSearch: "Filtro:"
  },
  aaSorting: [[1, 'asc']],
  aoColumns: [
    { bSortable: false, sWidth: "32px" }
    {% for pk, name in item_parents.iteritems %}
      , { bVisible: true }
    {% endfor %}
    {% for name in item_summary %}
      , { bVisible: true }
    {% endfor %}
    {% for name in item_hiddens %}
      , { bVisible: false }
    {% endfor %}
  ],
  fnInitComplete: function() {
    var children = [
      {% for pk, name in item_children.iteritems %}
        [{{ pk }}, "{{ name|capfirst }}"],
      {% endfor %}
    ];
    onInitComplete({{ pk }}, children);    
  }
});
//--></script>
</div>
</body>
</html>
