{% extends "datanav/base.html" %}

{% block title %}home{% endblock %}
{% block description %}Bienvenido al navegador de datos{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="/resources/dt/css/demo_table.css" type="text/css"/>
<link rel="stylesheet" href="/resources/dt/css/demo_table_jui.css" type="text/css"/>
<link rel="stylesheet" href="/resources/css/jquery.editable-select.css" type="text/css"/>
<link rel="stylesheet" href="/resources/css/home.css" type="text/css"/>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/resources/dt/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/resources/js-ui/ui/ui.tabs.js"></script>
<script type="text/javascript" src="/resources/jes/jquery.editable-select.js"></script>

<script language="javascript"><!--

$(document).ready(function() {
  $("#h_select").editableSelect();
  $("#item_full_path").tabs({
    cache: true,
    ajaxOptions: { cache: false }
  });
});

--></script>
{% endblock %}

{% block content %}

<form method="GET" action="">

<div id="selector">
  Hist&oacute;rico ( 
  <select name="h">
    {% for option in h_list %}
      <option value="{{ option }}"{% ifequal option h %} selected{% endifequal %}>{{ option }}</option>
    {% endfor %}
  </select> entradas ):
  <select name="q" id="h_select">
    {% for option in history %}
      <option value="{{ option }}"{% ifequal selected forloop.counter0 %} selected{% endifequal %}>{{ option }}</option>
    {% endfor %}
  </select>
  <!--<input type="text" id="h_text" name="q" value="{{ q|escapejs }}"/>-->
  <input type="submit" value="Buscar"/>
</div>

</form>

<div id="item_full_path">
  <!--<img src="/resources/img/arrow-down.png"/>-->
  <ul>
    {% for domd in item_full_path reversed %}
      <li>
      {% ifequal domd.pk pk %} 
        <!--<a class="selected" href="?pk={{ domd.pk }}">{{domd.name}}</a>-->
        <a href="../grid/{{ domd.pk }}"><span class="selected">{{domd.name}}</span></a>
      {% else %}
        <!--<a href="?pk={{ domd.pk }}">{{domd.name}}</a>-->
        <a href="../grid/{{ domd.pk }}"><span>{{domd.name}}</span></a>
      {% endifequal %}
      </li>
    {% empty %}
    <!--Haga click sobre la flecha para filtrar-->
    {% endfor %}
  </ul>
</div>

{% endblock %}
