body {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: medium;
 font-weight: normal;
}

.sqllog {
 color: #666666;
 font-size: small;
}

DIV.header {
 background-color: white;
 padding: 10px;
 border: solid 1px black;
 text-align: right;
}

.itemlist{
 padding: 0;
 margin: 0;
 border: none;
}

DIV.itemlist {
 float: right;
 width: 85%
}

TABLE.itemlist {
 table-layout:fixed;
 width: 100%;
 margin: 0;
}

.itemhead {
 background-color: white;
 padding: 0;
 margin: 0;
 font-weight: normal;
 color: black;
}

#customer {
 font-size: large;
 font-weight: bold;
 color: #663366;
 text-align: left;
 float: left;
 width: 40%;
}

#provider {
 font-size: large;
 font-weight: normal;
 font-style: italic;
 color: #333366;
}

a:link, a:visited {
 text-decoration: none;
 font-color: black;
}

a:hover {
 text-decoration: underline;
 font-color: blue;
}

DIV.leftbar {
 width: 15%;
 padding: 0;
 margin: 0;
 margin-top: 2px;
 border: 2px none;
}

#leftbar ul {
 list-style: none;
 margin: 0px;
 padding: 0px;
}

#leftbar li {
 font-style: italic;
 padding: 2px;
 border: 1px;
}

#leftbar a {
 font-style: normal;
}

#leftbar h1 {
 background-color: #304080;
 color: white;
 font-weight: bold;
 font-style: normal;
 font-size: medium;
 border: 0;
 margin: 0;
 padding: 1px;
 text-align: center;
}

.odd {
 background-color: #E0E0E0;
}

.even {
 background-color: #F9F9F9;
}

.breadcrumbs {
 padding: 5px;
 margin: 0px;
 background-color: #9B0100;
 color: white;
 text-align: left;
 font-size: medium;
}

.breadcrumbs ul {
 list-style: none;
 padding: 0;
 margin: 0;
}

.breadcrumbs li {
 display: inline;
 padding-right: 10px;
}

.breadcrumbs a {
 color: white;
}
