/* Estilos basicos de elementos */

body {
 font-family: Helvetica,Arial,sans-serif;
 font-size: medium;
 font-weight: normal;
 color: black;
 background-color: white;
 margin: 0;
 padding: 0;
 border: 0;
}

form {
    margin: 0;
    padding: 0;
    border: 0;
}

table {
    border-collapse: collapse;
    border: thin solid #ccc;
}

input, textarea, select {
 font-family: Arial, Helvetica, sans-serif;
 font-size: medium;
 font-weight: normal;
 color: black;
}

input[type=submit] {
 background-color: #ddd;
 cursor: hand;
}

select {
  border: 1px solid black;
  background-color: white;
  color: black;
}

a:link, a:visited, a:hover {
 color: black;
 text-decoration: none;
 font-style: normal;
 font-weight: normal;
}

a:hover {
 text-decoration: underline;
}

/* Estilos de la cabecera */

#headercontainer {
 /*background-color: #f0f060; */
 margin: 0 0 0 0;
}

#header {
 width: 100%;
 padding: 1.2em;
 /*background-color: #663366;*/
 background-color: #e1e1ff;
 /*color: white;*/
 color: black;
 text-align: left;
}

#usertools {
 float: right;
 width: 50%;
 margin: 0 2.4em 0 0;
 text-align: right;
}

#usertools a:link, #usertools a:visited, #usertools a:hover {
 /*color: white;*/
 color: black;
 text-decoration: none;
 font-style: italic;
 font-size: small;
}

#usertools a:hover {
 text-decoration: underline;
}

#usertools ul {
 margin:0;
 padding: 0;
 border: 0;
}

#usertools li {
 padding: 0 0.5em 0 1em;
 margin: 0;
 border-left: thin solid black;
 display: inline;
}

#usertools li:first-child {
 border: none;
 padding: 0 0.5em 0 0;
}

/* Estilos comunes */

.formtable thead th, .formtable thead td {
 font-weight: normal;
 text-align: center;
 background-color: #e1e1ff;
 border-bottom: thin solid #eee;
}

.formtable th, .formtable td {
 font-weight: normal;
 text-align: left;
 padding: 0.2em 1em 0.2em 1em;
 border-bottom: thin solid #eee;
}

.fielderror {
 color: #FF0000;
 font-weight: bold;
}

.sqllog {
 color: #666666;
 font-size: small;
}
