/* Estilos de la pagina home */

#h_select {
  width: 50%;
}

#selector {
  padding: 1.2em;
}

.itemsdiv {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: normal;
}

.items {
  width: 100%;
  /*margin: 1em 0 1em 0;*/
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid gray;
  padding: 0;
}

.items thead {
 font-weight: bold;
 text-align: center;
 background-color: #e1e1ff;
 border-bottom: thin solid #eee;
}

.items thead th {
 padding: 0.2em 1em 0.2em 1em;
}

.items tbody {
  text-align: center;
}

.odd {
 background-color: white;
}

.even {
 background-color: #efefff;
}

.item_dynamic {
 color: red;
}

/*
#item_full_path div {
 margin:0;
 padding: 0;
 border: 0;
}
*/

/* Para las tabs */

.ui-tabs .ui-tabs-hide {
 display: none;
}

.item_menudiv {
 position: absolute;
 display: none;
 padding: 1em;
 background: #F0F0F0;
 border: 1px solid black;
 margin: 0 0 0 32px;
 text-align: left;
 font-weight: normal;
 font-style: normal;
}

.item_menudiv ul {
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  margin: 0;
  padding:0;
}

.item_menudiv input[type=checkbox] {
 margin-right: 1em;
}

.item_menudiv img {
 border: 0;
 padding: 0;
 margin: 0;
}

ul.item_toolbar {
 list-style: none;
 padding: 0;
 margin: 0;
}

.item_toolbar li {
 display: inline;
 margin: 0 12px 0 0;
}

.item_toolbar img {
 border: 0;
}

.item_menudiv_head {
 background: #d0d0d0;
 margin-bottom: 0.5em;
 padding: 0.2em 0.2em 0 0.2em;
}

#item_details {
 display:none;
}

.item_details_top {
 border-top: 1px solid black;
 border-left: 1px solid black;
 border-right: 1px solid black;
}

.item_details_bottom {
 border-bottom: 1px solid black;
 border-left: 1px solid black;
 border-right: 1px solid black;
 text-align: left;
 padding: 0.5em 2em 0.5em 2em;
}