{% extends "base.html" %}

{% block title %}{{ parent }}{% endblock %}
{% block description %}{{ parent }}{% endblock %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="/resources/css/nodelist.css" type="text/css">
<link rel="stylesheet" href="/resources/css/brcrumbs.css" type="text/css">
<link rel="stylesheet" href="/resources/css/subitems.css" type="text/css">
<link rel="stylesheet" href="/resources/css/itemtable.css" type="text/css">
{% endblock %}

{% block base_body %}

<!-- Barra superior - bradcrumbs -->
<div id="breadcrumbs">
  <ul>
    {% for brpath, britem, brattr in crumbs %}
     <li>&gt;</li>
     <li>
     {% if brpath %}
       <a href="{% url listview path=brpath,id=britem.pk,attr=brattr %}">{{ britem }}</a>
     {% else %}
       <a href="{% url rootview attr=brattr %}">ROOT</a>
     {% endif %}
     </li>
    {% endfor %}
  <li>:</li><li>{{ attr|upper }}</li>
  </ul>
</div>

<!-- Barra siguiente - datos del objeto -->
<div id="subitems">
  <ul>
    {% for name in parent_meta.children %}
      {%ifequal name attr %}
        <li><span class="selected">&lt; {{ name|capfirst }} &gt;</span></li>
      {% else %}
        <li>
          {% if path %}
            <a href="{% url listview path=path,id=parent.pk,attr=name %}">{{ name|capfirst }}</a>
          {% else %}
            <a href="{% url rootview attr=name %}">{{ name|capfirst }}</a>
          {%endif %}
        </li>
      {% endifequal %}
    {% endfor %}
  </ul>
</div>

<div id="itemtable">
{% if not data_meta %}
  <span class="emptylist">Por favor, seleccione una tabla</span>
{% else %}
  {% load attrib %}
  <table>
  <thead>
    <tr class="itemhead">
    {% for name in data_meta.summary %}
      <th scope="col">{{ name|capfirst }}</th>
    {% endfor %}
    </tr>
  </thead>
  <!--{% cycle "even" "odd" as tdcolor %}-->
  <tbody>
    {% for item in data %}
      <tr class="{% cycle tdcolor %}">
      {% for name in data_meta.summary %}
        <td>{{ item|getattr:name }}</td>
      <!--<td><a class="nodelink" href=" url example.views.node path=subpath,id=item.pk ">{{ item }}</a></td>-->
      {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endif %}
</div>

{% endblock %}
